header nav {
  background-image: url(/img/fondo-header-3.JPG);
  box-shadow: 0 0 25px;
}
header nav [logo] {
  margin-right: 20rem;
}
header nav ul {
  height: 5rem;
}
header nav ul [items] {
  margin: 1rem 2rem;
  font-size: 1.2rem;
  color: rgba(194, 7, 7, 0.8) !important;
  font-weight: 700;
}
header nav ul [items]:hover {
  border-bottom: 5px solid #c20707;
  color: rgba(194, 7, 7, 0.8) !important;
  transition: all 0.4s;
}
header nav ul .sub-menu {
  background-image: url(/img/fondo-header-3.JPG);
  height: auto;
}
header nav ul .sub-menu [items-2] {
  display: block;
  margin: 1rem 2rem;
  font-size: 1rem;
  color: rgba(194, 7, 7, 0.8) !important;
  font-weight: 700;
  text-decoration: none;
}
header nav ul .sub-menu [items-2]:hover {
  border-bottom: 5px solid #c20707;
  color: rgba(194, 7, 7, 0.8) !important;
  transition: all 0.4s;
}

.contenedor__carousel {
  margin-top: 110px;
}
.contenedor__carousel .container__texto {
  background-image: url(/img/fondo-header-3.JPG);
}
.contenedor__carousel .container__texto h1 {
  margin-top: 60px;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.contenedor__carousel .container__texto p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  padding: 15px 60px;
}

.nosotros {
  margin-top: 120px;
}
.nosotros .nosotros__texto h1 {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.nosotros .nosotros__texto p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 100px;
}
.nosotros .nosotros__img {
  margin-top: 70px;
  width: 100%;
}
.nosotros .nosotros__img-caja {
  margin-top: 50px;
}
.nosotros .nosotros__img-caja .nosotros__img-redondo {
  clip-path: circle();
}
.nosotros .nosotros__img-caja h2 {
  font-family: "Roboto Slab", serif;
  color: rgba(194, 7, 7, 0.8);
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}
.nosotros .nosotros__img-caja p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.galeria {
  margin-top: 110px;
  padding: 0 2rem;
}
.galeria h1 {
  margin-top: 9rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.galeria .row {
  display: flex;
  flex-wrap: wrap;
}
.galeria .row .column {
  flex: 25%;
}
.galeria .row .column img {
  margin-top: 0.5rem;
  width: 100%;
}

@media (max-width: 800px) {
  .galeria {
    margin-top: 110px;
    padding: 2rem;
  }
  .galeria .row {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria .row .column {
    flex: 50%;
  }
  .galeria .row .column img {
    margin-top: 0.5rem;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .galeria {
    margin-top: 110px;
    padding: 0;
  }
  .galeria .row {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria .row .column {
    flex: 100%;
  }
  .galeria .row .column img {
    margin-top: 0.5rem;
    width: 100%;
  }
}
.contacto {
  margin-top: 120px;
}
.contacto .contacto__dir .contacto-titulo {
  margin: 40px 0;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.contacto .contacto__dir .contacto__dir-h {
  color: rgba(194, 7, 7, 0.8);
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.contacto .contacto__form {
  padding: 3rem 8rem 1rem 1rem;
}
.contacto .contacto__form input {
  margin-bottom: 1.5rem;
}
.contacto .contacto__form button {
  margin-top: 1rem;
  padding: 0 0.5rem;
  background-image: url(/img/fondo-header-3.JPG);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.eventos {
  margin-top: 110px;
}
.eventos h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.eventos p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  padding: 0 40px;
}
.eventos video {
  width: 90%;
  border: 5px solid #3d2e2e;
  box-sizing: border-box;
  box-shadow: 0 0 25px;
  margin: 2rem;
}
.eventos hr {
  margin-top: 1rem;
}
.eventos .eventos__contenedor-img img {
  width: 100%;
  margin: 40px;
}
.eventos .eventos__contenedor-img p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0 3rem;
}

footer {
  background-image: url(/img/fondo-header-3.JPG);
}
footer ul {
  margin-top: 2rem;
}
footer ul li {
  font-size: 2.5rem;
  padding: 1.5rem 0.7rem;
}
footer ul li a {
  color: rgba(194, 7, 7, 0.8);
  transition: all 0.4s;
}
footer .footer-copyright {
  background-color: rgba(10, 10, 10, 0.9);
}

.section__menu {
  margin-top: 150px;
}

.bgc-topo1 {
  background-color: #212F3D;
}

.c-topo1 {
  color: #212F3D;
}

.bgc-topo2 {
  background-color: #2C3E50;
}

.c-topo2 {
  color: #2C3E50;
}

.bgc-gris {
  background-color: #566573;
}

.c-gris {
  color: #566573;
}

.bgc-gris2 {
  background-color: #616A6B;
}

.c-gris2 {
  color: #616A6B;
}

.bgc-perla {
  background-color: #B3B6B7;
}

.c-perla {
  color: #B3B6B7;
}

.bgc-perla2 {
  background-color: #D0D3D4;
}

.c-perla2 {
  color: #D0D3D4;
}

.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}
.body .contenedor {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
}
.body .contenedor h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 2opx;
}
.body .contenedor a {
  text-decoration: none;
  background-color: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.body .contenedor a:hover {
  background-color: #c20707;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/img/fondo-header-3.JPG);
}

/*# sourceMappingURL=estilos.css.map */
