header nav {
  background-image: url(../img/fondo-header-3.JPG);
  box-shadow: 0 0 25px;
}
header nav [logo] {
  margin-right: 10rem;
}
header nav ul {
  height: 5rem;
}
header nav ul [items] {
  margin: 1rem 1.3rem;
  font-size: 1.2rem;
  color: rgba(194, 7, 7, 0.8) !important;
  font-weight: 700;
  font-family: "Bitter", serif;
  padding-bottom: 0;
}
header nav ul [items]:hover {
  border-bottom: 4px solid #c20707;
  transition: all 0.4s;
  font-family: "Bitter", serif;
}
header nav ul .sub-menu {
  background-image: url(../img/fondo-header-3.JPG);
  height: auto;
}
header nav ul .sub-menu [items-2] {
  display: inline-block;
  margin: 1rem 2rem;
  font-size: 1rem;
  color: rgba(194, 7, 7, 0.8) !important;
  font-weight: 700;
  text-decoration: none;
  font-family: "Bitter", serif;
}
header nav ul .sub-menu [items-2]:hover {
  width: 4rem;
  border-bottom: 5px solid #c20707;
  color: rgba(194, 7, 7, 0.8) !important;
  transition: all 0.4s;
  font-family: "Bitter", serif;
}

@media screen and (max-width: 1280px) {
  header nav [logo] {
    margin-right: 8em;
  }
  header nav ul [items] {
    margin: 1rem 1.2rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  header nav [logo] {
    margin-right: 5rem;
  }
  header nav [logo] img {
    width: 350px;
  }
  header nav ul [items] {
    margin: 1rem 0.6rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    background-image: url(../img/fondo-header-3.JPG);
    box-shadow: 0 0 25px;
  }
  header nav [logo] {
    margin-right: 10rem;
  }
  header nav ul {
    height: auto;
  }
  header nav ul li {
    height: 2.5rem;
    background-image: url(../img/fondo-header-3.JPG);
  }
  header nav ul li [items] {
    display: inline-block;
    margin: 0 45%;
    font-size: 1rem;
  }
  header nav ul li .sub-menu {
    background-image: url(../img/fondo-header-3.JPG);
    height: 9rem;
    width: auto;
    margin: 0 45%;
  }
  header nav ul li .sub-menu [items-2] {
    display: block;
    font-size: 1rem;
  }
  header nav ul li .sub-menu [items-2]:hover {
    width: 4rem;
  }
}
@media screen and (max-width: 480px) {
  header nav {
    position: relative;
  }
  header nav [logo] img {
    width: 50%;
    position: absolute;
    top: 0;
  }
  header nav ul li {
    height: 2.5rem;
    background-image: url(../img/fondo-header-3.JPG);
  }
  header nav ul li [items] {
    display: inline-block;
    margin: 0 45%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  header nav {
    position: relative;
  }
  header nav [logo] img {
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
  }
  header nav ul li {
    height: 2.5rem;
    background-image: url(../img/fondo-header-3.JPG);
  }
  header nav ul li [items] {
    display: inline-block;
    margin: 0 45%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
.contenedor__carousel {
  margin-top: 7rem;
}
.contenedor__carousel .container__texto {
  background-image: url(../img/fondo-header-3.JPG);
}
.contenedor__carousel .container__texto h1 {
  margin-top: 2rem;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2rem;
}
.contenedor__carousel .container__texto p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 2.3rem;
  padding: 0.5rem 3.5rem;
}

@media screen and (max-width: 1280px) {
  .contenedor__carousel {
    margin-top: 7rem;
  }
  .contenedor__carousel .container__texto {
    background-image: url(../img/fondo-header-3.JPG);
  }
  .contenedor__carousel .container__texto h1 {
    margin-top: 2rem;
  }
  .contenedor__carousel .container__texto p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 10px 30px;
  }
}
@media screen and (max-width: 1024px) {
  .contenedor__carousel {
    margin-top: 6rem;
  }
  .contenedor__carousel .container__texto h1 {
    margin-top: 3rem;
  }
  .contenedor__carousel .container__texto p {
    padding: 0 1rem;
    line-height: 1.7rem;
  }
  .contenedor__carousel .slider__container {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .contenedor__carousel .container__texto h1 {
    margin-top: 2.5rem;
  }
  .contenedor__carousel .slider__container {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .contenedor__carousel {
    margin-top: 3rem;
  }
  .contenedor__carousel .container__texto h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .contenedor__carousel .container__texto p {
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 320px) {
  .contenedor__carousel {
    margin-top: 2rem;
  }
  .contenedor__carousel .container__texto h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .contenedor__carousel .container__texto p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 5px 5px;
    font-size: 0.75rem;
  }
}
.nosotros {
  margin-top: 7rem;
}
.nosotros .nosotros__texto h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.nosotros .nosotros__texto p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 0 2rem;
}
.nosotros .nosotros__img {
  margin-top: 3rem;
  width: 100%;
}
.nosotros .nosotros__img-caja {
  margin-top: 50px;
}
.nosotros .nosotros__img-caja .nosotros__img-redondo {
  clip-path: circle();
}
.nosotros .nosotros__img-caja h2 {
  font-family: "Roboto Slab", serif;
  color: rgba(194, 7, 7, 0.8);
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}
.nosotros .nosotros__img-caja p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}
.nosotros .nosotros__img-caja p a {
  color: rgba(194, 7, 7, 0.8);
}
.nosotros .nosotros__img-caja [modal-sommelier] h3 {
  font-family: "Roboto Slab", serif;
  color: rgba(194, 7, 7, 0.8);
  font-size: 2rem;
  margin-left: 25%;
  font-weight: 800;
}

@media screen and (max-width: 1280px) {
  .nosotros {
    margin-top: 6rem;
  }
  .nosotros .nosotros__texto h1 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    font-size: 2.3rem;
  }
  .nosotros .nosotros__texto p {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 2rem;
  }
  .nosotros .nosotros__img {
    margin-top: 4rem;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .nosotros {
    margin-top: 5rem;
  }
  .nosotros .nosotros__texto h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .nosotros .nosotros__texto p {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
  }
  .nosotros .nosotros__img {
    margin-top: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .nosotros {
    margin-top: 7rem;
  }
  .nosotros .nosotros__texto h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .nosotros .nosotros__texto p {
    line-height: 1.5rem;
    padding: 0 1rem;
  }
  .nosotros .nosotros__img {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .nosotros .nosotros__img-caja {
    margin-top: 1rem;
  }
  .nosotros .nosotros__img-caja .nosotros__img-redondo {
    clip-path: circle();
    width: 50%;
    margin: 0 12rem;
  }
  .nosotros .nosotros__img-caja h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .nosotros {
    margin-top: 3.5rem;
  }
  .nosotros .nosotros__texto h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .nosotros .nosotros__texto p {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  .nosotros .nosotros__img {
    margin-bottom: 1rem;
  }
  .nosotros .nosotros__img-caja .nosotros__img-redondo {
    clip-path: circle();
    width: 70%;
    margin: 0 5rem;
  }
  .nosotros .nosotros__img-caja h2 {
    padding-top: 0.5rem;
  }
  .nosotros .nosotros__img-caja p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 320px) {
  .nosotros {
    margin-top: 3.5rem;
  }
  .nosotros .nosotros__texto p {
    line-height: 1.4rem;
    font-size: 0.8rem;
  }
  .nosotros .nosotros__img-caja .nosotros__img-redondo {
    clip-path: circle();
    width: 80%;
    margin: 0 2rem;
  }
  .nosotros .nosotros__img-caja p {
    font-size: 0.8rem;
  }
}
.galeria {
  margin-top: 9rem;
  padding: 0 2rem;
}
.galeria h1 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.galeria .row {
  display: flex;
  flex-wrap: wrap;
}
.galeria .row .column {
  flex: 25%;
}
.galeria .row .column img {
  margin-top: 0.5rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .galeria {
    margin-top: 8rem;
  }
  .galeria h1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .galeria {
    margin-top: 7rem;
  }
  .galeria h1 {
    font-size: 2rem;
  }
  .galeria .row {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria .row .column {
    flex: 50%;
  }
}
@media screen and (max-width: 480px) {
  .galeria {
    margin-top: 4rem;
  }
  .galeria h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .galeria {
    margin-top: 4.5rem;
  }
  .galeria h1 {
    font-size: 1.5rem;
  }
  .galeria .row {
    display: flex;
    flex-wrap: wrap;
  }
  .galeria .row .column {
    flex: 100%;
  }
}
.contacto {
  margin-top: 7rem;
}
.contacto .contacto__dir .contacto-titulo {
  margin: 40px 0;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.contacto .contacto__dir .contacto__dir-h {
  color: rgba(194, 7, 7, 0.8);
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.contacto .contacto__form {
  padding: 3rem 8rem 1rem 1rem;
}
.contacto .contacto__form input {
  margin-bottom: 1.5rem;
}
.contacto .contacto__form button {
  margin-top: 1rem;
  padding: 0 0.5rem;
  background-image: url(../img/fondo-header-3.JPG);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .contacto {
    margin-top: 6rem;
  }
  .contacto .contacto__dir .contacto-titulo {
    margin: 2rem 4rem 2rem 4rem;
    font-size: 2rem;
  }
  .contacto .contacto__dir .contacto__dir-h {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .contacto .contacto__form {
    padding: 2rem;
  }
  .contacto .contacto__form input {
    margin-bottom: 1rem;
  }
  .contacto .contacto__form button {
    margin-top: 1.5rem;
    padding: 0 0.5rem;
  }
  .contacto .contacto__form textarea {
    height: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .contacto {
    margin-top: 2.5rem;
  }
  .contacto .contacto__dir .contacto-titulo {
    margin: 1rem 4rem 1rem 4rem;
    font-size: 2rem;
  }
  .contacto .contacto__dir .contacto__dir-h {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .contacto .contacto__form {
    padding: 1.5rem;
  }
  .contacto .contacto__form input {
    margin-bottom: 0.5rem;
  }
  .contacto .contacto__form button {
    margin-top: 0.7rem;
    padding: 0 0.5rem;
  }
  .contacto .contacto__form textarea {
    height: 12rem;
  }
}
@media screen and (max-width: 320px) {
  .contacto {
    margin-top: 4rem;
  }
  .contacto .contacto__dir .contacto-titulo {
    font-size: 1.5rem;
  }
}
.eventos {
  margin-top: 10rem;
}
.eventos h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(194, 7, 7, 0.8);
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.eventos p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 0.5rem 0 2rem;
}
.eventos video {
  width: 90%;
  border: 5px solid #3d2e2e;
  box-sizing: border-box;
  box-shadow: 0 0 25px;
  margin: 1rem;
}
.eventos hr {
  margin-top: 2rem 1rem;
}
.eventos .eventos__contenedor-img img {
  width: 100%;
  margin: 2rem;
}
.eventos .eventos__contenedor-img p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0 1rem;
}

@media screen and (max-width: 1280px) {
  .eventos {
    margin-top: 9rem;
  }
  .eventos h1 {
    margin-bottom: 0;
  }
  .eventos p {
    line-height: 1.6rem;
  }
  .eventos .eventos__contenedor-img p {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .eventos {
    margin-top: 8rem;
  }
  .eventos h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .eventos p {
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 0 2rem;
  }
  .eventos video {
    width: 90%;
    margin: 0 3rem;
  }
  .eventos .eventos__contenedor-img img {
    margin: 0.5rem;
  }
  .eventos .eventos__contenedor-img p {
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .eventos {
    margin-top: 8rem;
  }
  .eventos h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .eventos p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .eventos video {
    width: 90%;
    margin: 0 2rem;
  }
  .eventos .eventos__contenedor-img p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .eventos {
    margin-top: 4rem;
  }
  .eventos h1 {
    font-size: 1.3rem;
  }
  .eventos p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.5rem;
  }
  .eventos video {
    width: 90%;
    margin: 0 1.5rem;
  }
  .eventos .eventos__contenedor-img p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .eventos p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.4rem;
  }
  .eventos video {
    margin: 0 1rem;
  }
  .eventos .eventos__contenedor-img p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.4rem;
  }
}
footer {
  background-image: url(../img/fondo-header-3.JPG);
}
footer ul {
  margin-top: 2rem;
}
footer ul li {
  font-size: 2.5rem;
  padding: 1.5rem 0.7rem;
}
footer ul li a {
  color: rgba(194, 7, 7, 0.8);
  transition: all 0.4s;
}
footer .footer-copyright {
  background-color: rgba(10, 10, 10, 0.9);
}

@media screen and (max-width: 480px) {
  footer {
    background-image: url(../img/fondo-header-3.JPG);
  }
  footer ul {
    margin-top: 1rem;
  }
  footer ul li {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  footer {
    background-image: url(../img/fondo-header-3.JPG);
  }
  footer ul {
    margin: 1rem;
  }
  footer ul li {
    font-size: 1rem;
    padding: 0;
  }

  .footer-copyright {
    font-size: 0.7rem;
  }
}
.section__menu {
  margin-top: 9rem;
}

.bgc-topo1 {
  background-color: #212F3D;
}

.c-topo1 {
  color: #212F3D;
}

.bgc-topo2 {
  background-color: #2C3E50;
}

.c-topo2 {
  color: #2C3E50;
}

.bgc-gris {
  background-color: #566573;
}

.c-gris {
  color: #566573;
}

.bgc-gris2 {
  background-color: #616A6B;
}

.c-gris2 {
  color: #616A6B;
}

.bgc-perla {
  background-color: #B3B6B7;
}

.c-perla {
  color: #B3B6B7;
}

.bgc-perla2 {
  background-color: #D0D3D4;
}

.c-perla2 {
  color: #D0D3D4;
}

@media screen and (max-width: 768px) {
  .section__menu td {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .section__menu {
    margin-top: 5rem;
  }
  .section__menu td {
    font-size: 0.7rem;
  }
}
.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}
.body .contenedor {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
}
.body .contenedor h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 2opx;
}
.body .contenedor a {
  text-decoration: none;
  background-color: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.4s;
}
.body .contenedor a:hover {
  background-color: #c20707;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/fondo-header-3.JPG);
}

/*# sourceMappingURL=estilos.css.map */
