.galeria{
    margin-top:9rem;
    padding:0 2rem;
    h1{
        margin-bottom:.5rem;
        text-align:center;
        color:$c-rojo-titulos;
        font-family: $nueva-fuente-titulos;
        font-weight: 900;
        font-size: 2.5rem;
    }
   .row {
    display: flex;
    flex-wrap: wrap;
    .column{
    flex: 25%;
    img{
       margin-top:.5rem;
       width: 100%;
     }
   }
  }
}
@media screen and  (max-width:1024px){
  .galeria{
          margin-top:8rem;
          h1{
          font-size: 2rem;
          }
}
}
@media (max-width:768px){
    .galeria{
        margin-top:7rem;
        h1{
          font-size: 2rem;
          }
        .row {
        display: flex;
        flex-wrap: wrap;
        .column{
        flex: 50%;
       }
      }
    }
}
@media screen and  (max-width:480px){
  .galeria{
          margin-top:4rem;
          h1{
          font-size:1.5rem;
          }
}
}   
@media (max-width:320px){
    .galeria{
        margin-top:4.5rem;
        h1{
          font-size: 1.5rem;
          }
       .row {
        display: flex;
        flex-wrap: wrap;
        .column{
        flex: 100%;
      
       }
      }
    }
}