header{
    nav{
        background-image:url(../img/fondo-header-3.JPG);
        box-shadow: 0 0 25px;
        [logo]{
            margin-right:10rem;
        }
        ul{
            height:5rem;
            [items]{
                margin: 1rem 1.3rem;
                font-size: 1.2rem;
                color: rgba(194, 7, 7, 0.8) !important;
                font-weight: 700;
                font-family: $f-titulo-bitter;
                padding-bottom:0;
            }
            [items]:hover{
                border-bottom: 4px solid #c20707;
                transition: all 0.4s;
                font-family: $f-titulo-bitter;
            }
            .sub-menu{
                background-image: url(../img/fondo-header-3.JPG);
                height:auto;
                [items-2]{
                    display:inline-block;
                    margin: 1rem 2rem;
                    font-size: 1rem;
                    color: rgba(194, 7, 7, 0.8) !important;
                    font-weight: 700;
                    text-decoration: none;
                    font-family: $f-titulo-bitter;
                }
                [items-2]:hover{
                    width: 4rem;
                    border-bottom: 5px solid #c20707;
                    color: rgba(194, 7, 7, 0.8) !important;
                    transition: all 0.4s;
                    font-family: $f-titulo-bitter;
                }
                
            }
        }
    }
}
@media screen and (max-width:1280px) {
    header{
        nav{
           [logo]{
                margin-right:8em;
            }
            ul{
            [items]{
                    margin: 1rem 1.2rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media  screen and (max-width:1024px) {
    header{
        nav{
        [logo]{
              margin-right:5rem;
              img{
                 width:350px;
                }
            }
            ul {
                [items]{
                    margin: 1rem .6rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media  screen and (max-width:768px) {
    header{
        nav{
            background-image:url(../img/fondo-header-3.JPG);
            box-shadow: 0 0 25px;
            [logo]{
                margin-right:10rem;
            }
            ul{ 
                height: auto;
                li{
                  height: 2.5rem;
                  background-image:url(../img/fondo-header-3.JPG);
                [items]{
                    display: inline-block;
                    margin:0 45%;
                    font-size: 1rem;
                }
                .sub-menu{
                    background-image: url(../img/fondo-header-3.JPG);
                    height:9rem;
                    width:auto;
                    margin:0 45%;
                    [items-2]{
                        display:block;
                        font-size: 1rem;
                    }
                    [items-2]:hover{
                       width:4rem;
                    }
                    
                }
              }  
            }
        }
    }
}      
@media  screen and (max-width:480px) {
    header{
          nav{ 
              position: relative;
             [logo]{
                img{
                    width: 50%;
                    position: absolute;
                    top: 0;
                }
             }
             ul{
                li{ 
                height:2.5rem;
                background-image:url(../img/fondo-header-3.JPG);
                [items]{
                    display:inline-block;
                    margin:0 45%;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                }
                   
              }
            }
        }
    }
} 
@media  screen and (max-width:320px) {
    header{
          nav{ 
              position: relative;
             [logo]{
                img{
                    width: 75%;
                    position: absolute;
                    top: 0;
                    left:0;
                }
             }
             ul{
                li{ 
                height:2.5rem;
                background-image:url(../img/fondo-header-3.JPG);
                [items]{
                        display:inline-block;
                        margin:0 45%;
                        margin-bottom: 1rem;
                        font-size: 1rem;
                       }
                   }
            }
        }
    }
} 