nav{
    //border-bottom:5px solid $color-bordes;
    background-image: url(/img/fondo-header-3.JPG);
    box-shadow: 0 0 25px;
    ul{
        margin-right:100px;
        height:45px;
        
     // border:3px solid black;
      li{
        // border:3px solid black;
         font-size: 1.2rem;
         margin: 0 25px;
         font-family: $f-titulo-bitter;
         a{
             color:$c-rojo-titulos !important;
             font-weight: 700;
         }
         &:hover{
            border-bottom:5px solid #c20707;
            color: rgb(255, 251, 245) !important;
            transition: all 0.4s;
         }
    }
  }   
}
