.section__menu {
    margin-top:9rem;
}
// map y each para paletas de colores de tabla menú/carta de vinos
$colores-grises:(
    topo1:#212F3D,
    topo2:#2C3E50,
    gris:#566573,
    gris2:#616A6B ,
    perla:#B3B6B7,
    perla2:#D0D3D4,
);
@each $color-tabla,$grices in $colores-grises {
    .bgc-#{$color-tabla}{
        background-color: $grices;
    }
    .c-#{$color-tabla}{
        color: $grices;
    }
}
@media screen and (max-width:768px){
    .section__menu {
        td{
            font-size:.8rem;
        }
    }
}
@media screen and (max-width:480px){
    .section__menu {
        margin-top:5rem;
        td{
            font-size:.7rem;
        }
    }
}

