.nosotros{
    margin-top:120px;
    .nosotros__texto{
        // border: 1px solid $color-bordes
        h1{
            margin-top:15px;
            margin-bottom: 30px;
            text-align: center;
            color:$c-rojo-titulos;
            font-family: $nueva-fuente-titulos;
            font-weight: 900;
            font-size: 2.5rem;
        }
        p{
            text-align: justify;
            font-family: $nueva-fuente-parrafos;
            font-size: 1.2rem;
            line-height: 2rem;
            padding: 0 100px;
        }
    }
    .nosotros__img{
        margin-top: 70px;
        width: 100%;
        // ver como hacer oara que la imagen se vea bien hasta en col-lg-6 que ocupe el 100% de la caja y se mantenga igual que texto
    }
    .nosotros__img-caja{
        // border: 1px solid $color-bordes;
        margin-top: 50px;
        .nosotros__img-redondo{
            clip-path: circle();
            
        }
        h2{    
            font-family: $nueva-fuente-titulos;
            color:$c-rojo-titulos;
            font-size: 2rem;  
            text-align: center;
            font-weight: 800;
        }
        p{
            font-family: $nueva-fuente-parrafos;
            font-size: 1rem;
            padding-top: 5px;
            text-align: center;
            padding-bottom: 5px;
        }
    }
 
}   