// colores
$c-rojo-titulos:rgba(194, 7, 7, 0.8);
$color-texto-red:rgb(194, 7, 7);
$color-bordes:rgb(61, 46, 46);
$color-bordes-botton:rgba(61, 46, 46,0.3);
$color-socialMedia:rgba(61, 46, 46,0.7);


//fuentes
$f-titulo-bitter:'Bitter', serif;
$f-titulo-DancingScipt:'Dancing Script',cursive;
$nueva-fuente-titulos: 'Roboto Slab', serif;
$nueva-fuente-parrafos: 'Montserrat', sans-serif; 
