@import "variables";
@import "header";
@import "inicio";
@import "footer";
@import "nosotros";
@import "galeria";
@import "contacto";
@import "eventos";
 
body{
    margin: 0;
    padding: 0;
    background-image: url(/img/fondo-header-3.JPG);
}